
<div class="main-wrapper">
    
  <!-- <app-header></app-header>
 
  <router-outlet></router-outlet>
  
  
  <app-footer></app-footer> -->


  <header class="site-header">
      <div class="top-header-bar">
          <div class="container">
              <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                  <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                      <div class="header-bar-email">
                          MAIL: <a href="#">contact@ourcharity.com</a>
                      </div><!-- .header-bar-email -->

                      <div class="header-bar-text">
                          <p>PHONE: <span>+24 3772 120 091 / +56452 4567</span></p>
                      </div><!-- .header-bar-text -->
                  </div><!-- .col -->

                  <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                      <div class="donate-btn">
                          <a href="#">Donate Now</a>
                      </div><!-- .donate-btn -->
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .top-header-bar -->

      <div class="nav-bar">
          <div class="container">
              <div class="row">
                  <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                      <div class="site-branding d-flex align-items-center">
                         <a class="d-block" href="index.html" rel="home"><img class="d-block" src="assets/images/logo.png" alt="logo"></a>
                      </div><!-- .site-branding -->

                      <nav class="site-navigation d-flex justify-content-end align-items-center">
                          <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                              <li class="current-menu-item"><a href="index.html">Home</a></li>
                              <li><a href="about.html">About us</a></li>
                              <li><a href="causes.html">Causes</a></li>
                              <li><a href="portfolio.html">Gallery</a></li>
                              <li><a href="news.html">News</a></li>
                              <li><a href="contact.html">Contact</a></li>
                          </ul>
                      </nav><!-- .site-navigation -->

                      <div class="hamburger-menu d-lg-none">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                      </div><!-- .hamburger-menu -->
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .nav-bar -->
  </header><!-- .site-header -->

  <div class="swiper-container hero-slider swiper-container-horizontal swiper-container-wp8-horizontal">
      <div class="swiper-wrapper" style="transform: translate3d(-5724px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide hero-content-wrap swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" style="width: 1908px;">
              <img src="assets/images/hero.jpg" alt="">

              <div class="hero-content-overlay position-absolute w-100 h-100">
                  <div class="container h-100">
                      <div class="row h-100">
                          <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                              <header class="entry-header">
                                  <h1>Donate</h1>
                                  <h4>4 a better world</h4>
                              </header><!-- .entry-header -->

                              <div class="entry-content mt-4">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                              </div><!-- .entry-content -->

                              <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                  <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                  <a href="#" class="btn orange-border">Read More</a>
                              </footer><!-- .entry-footer -->
                          </div><!-- .col -->
                      </div><!-- .row -->
                  </div><!-- .container -->
              </div><!-- .hero-content-overlay -->
          </div>
          <div class="swiper-slide hero-content-wrap swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 1908px;">
              <img src="assets/images/hero.jpg" alt="">

              <div class="hero-content-overlay position-absolute w-100 h-100">
                  <div class="container h-100">
                      <div class="row h-100">
                          <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                              <header class="entry-header">
                                  <h1>Donate</h1>
                                  <h4>4 a better world</h4>
                              </header><!-- .entry-header -->

                              <div class="entry-content mt-4">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                              </div><!-- .entry-content -->

                              <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                  <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                  <a href="#" class="btn orange-border">Read More</a>
                              </footer><!-- .entry-footer -->
                          </div><!-- .col -->
                      </div><!-- .row -->
                  </div><!-- .container -->
              </div><!-- .hero-content-overlay -->
          </div><!-- .hero-content-wrap -->

          <div class="swiper-slide hero-content-wrap swiper-slide-prev" data-swiper-slide-index="1" style="width: 1908px;">
              <img src="assets/images/hero.jpg" alt="">

              <div class="hero-content-overlay position-absolute w-100 h-100">
                  <div class="container h-100">
                      <div class="row h-100">
                          <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                              <header class="entry-header">
                                  <h1>Donate</h1>
                                  <h4>4 a better world</h4>
                              </header><!-- .entry-header -->

                              <div class="entry-content mt-4">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                              </div><!-- .entry-content -->

                              <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                  <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                  <a href="#" class="btn orange-border">Read More</a>
                              </footer><!-- .entry-footer -->
                          </div><!-- .col -->
                      </div><!-- .row -->
                  </div><!-- .container -->
              </div><!-- .hero-content-overlay -->
          </div><!-- .hero-content-wrap -->

          <div class="swiper-slide hero-content-wrap swiper-slide-active" data-swiper-slide-index="2" style="width: 1908px;">
              <img src="assets/images/hero.jpg" alt="">

              <div class="hero-content-overlay position-absolute w-100 h-100">
                  <div class="container h-100">
                      <div class="row h-100">
                          <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                              <header class="entry-header">
                                  <h1>Donate</h1>
                                  <h4>4 a better world</h4>
                              </header><!-- .entry-header -->

                              <div class="entry-content mt-4">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                              </div><!-- .entry-content -->

                              <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                  <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                  <a href="#" class="btn orange-border">Read More</a>
                              </footer><!-- .entry-footer -->
                          </div><!-- .col -->
                      </div><!-- .row -->
                  </div><!-- .container -->
              </div><!-- .hero-content-overlay -->
          </div><!-- .hero-content-wrap -->
      <div class="swiper-slide hero-content-wrap swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 1908px;">
              <img src="assets/images/hero.jpg" alt="">

              <div class="hero-content-overlay position-absolute w-100 h-100">
                  <div class="container h-100">
                      <div class="row h-100">
                          <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                              <header class="entry-header">
                                  <h1>Donate</h1>
                                  <h4>4 a better world</h4>
                              </header><!-- .entry-header -->

                              <div class="entry-content mt-4">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                              </div><!-- .entry-content -->

                              <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                  <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                  <a href="#" class="btn orange-border">Read More</a>
                              </footer><!-- .entry-footer -->
                          </div><!-- .col -->
                      </div><!-- .row -->
                  </div><!-- .container -->
              </div><!-- .hero-content-overlay -->
          </div></div><!-- .swiper-wrapper -->

      <div class="pagination-wrap position-absolute w-100">
          <div class="container">
              <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet">01</span><span class="swiper-pagination-bullet">02</span><span class="swiper-pagination-bullet swiper-pagination-bullet-active">03</span></div>
          </div><!-- .container -->
      </div><!-- .pagination-wrap -->

      <!-- Add Arrows -->
      <div class="swiper-button-next flex justify-content-center align-items-center swiper-button-disabled">
          <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg></span>
      </div>

      <div class="swiper-button-prev flex justify-content-center align-items-center">
          <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"></path></svg></span>
      </div>
  </div><!-- .hero-slider -->

  <div class="home-page-icon-boxes">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                  <div class="icon-box active">
                      <figure class="d-flex justify-content-center">
                          <img src="assets/images/hands-gray.png" alt="">
                          <img src="assets/images/hands-white.png" alt="">
                      </figure>

                      <header class="entry-header">
                          <h3 class="entry-title">Become a Volunteer</h3>
                      </header>

                      <div class="entry-content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. </p>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                  <div class="icon-box">
                      <figure class="d-flex justify-content-center">
                          <img src="assets/images/donation-gray.png" alt="">
                          <img src="assets/images/donation-white.png" alt="">
                      </figure>

                      <header class="entry-header">
                          <h3 class="entry-title">Dance &amp; Music</h3>
                      </header>

                      <div class="entry-content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. </p>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                  <div class="icon-box">
                      <figure class="d-flex justify-content-center">
                          <img src="assets/images/charity-gray.png" alt="">
                          <img src="assets/images/charity-white.png" alt="">
                      </figure>

                      <header class="entry-header">
                          <h3 class="entry-title">Online Conference</h3>
                      </header>

                      <div class="entry-content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. </p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .home-page-icon-boxes -->

  <div class="home-page-welcome">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-6 order-2 order-lg-1">
                  <div class="welcome-content">
                      <header class="entry-header">
                          <h2 class="entry-title">Wellcome to our Charity</h2>
                      </header><!-- .entry-header -->

                      <div class="entry-content mt-5">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu libero consequat tempus. Quisque molestie convallis tempus. Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum.</p>
                      </div><!-- .entry-content -->

                      <div class="entry-footer mt-5">
                          <a href="#" class="btn gradient-bg mr-2">Read More</a>
                      </div><!-- .entry-footer -->
                  </div><!-- .welcome-content -->
              </div><!-- .col -->

              <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                  <img src="assets/images/welcome.jpg" alt="welcome">
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .home-page-icon-boxes -->

  <div class="home-page-events">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-6">
                  <div class="upcoming-events">
                      <div class="section-heading">
                          <h2 class="entry-title">Upcoming Events</h2>
                      </div><!-- .section-heading -->

                      <div class="event-wrap d-flex flex-wrap justify-content-between">
                          <figure class="m-0">
                              <img src="assets/images/event-1.jpg" alt="">
                          </figure>

                          <div class="event-content-wrap">
                              <header class="entry-header d-flex flex-wrap align-items-center">
                                  <h3 class="entry-title w-100 m-0"><a href="#">Fundraiser for Kids</a></h3>

                                  <div class="posted-date">
                                      <a href="#">Aug 25, 2018 </a>
                                  </div><!-- .posted-date -->

                                  <div class="cats-links">
                                      <a href="#">Ball Room New York</a>
                                  </div><!-- .cats-links -->
                              </header><!-- .entry-header -->

                              <div class="entry-content">
                                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                              </div><!-- .entry-content -->

                              <div class="entry-footer">
                                  <a href="#">Read More</a>
                              </div><!-- .entry-footer -->
                          </div><!-- .event-content-wrap -->
                      </div><!-- .event-wrap -->

                      <div class="event-wrap d-flex flex-wrap justify-content-between">
                          <figure class="m-0">
                              <img src="assets/images/event-2.jpg" alt="">
                          </figure>

                          <div class="event-content-wrap">
                              <header class="entry-header d-flex flex-wrap align-items-center">
                                  <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>

                                  <div class="posted-date">
                                      <a href="#">Aug 25, 2018 </a>
                                  </div><!-- .posted-date -->

                                  <div class="cats-links">
                                      <a href="#">Ball Room New York</a>
                                  </div><!-- .cats-links -->
                              </header><!-- .entry-header -->

                              <div class="entry-content">
                                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                              </div><!-- .entry-content -->

                              <div class="entry-footer">
                                  <a href="#">Read More</a>
                              </div><!-- .entry-footer -->
                          </div><!-- .event-content-wrap -->
                      </div><!-- .event-wrap -->

                      <div class="event-wrap d-flex flex-wrap justify-content-between">
                          <figure class="m-0">
                              <img src="assets/images/event-3.jpg" alt="">
                          </figure>

                          <div class="event-content-wrap">
                              <header class="entry-header d-flex flex-wrap align-items-center">
                                  <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>

                                  <div class="posted-date">
                                      <a href="#">Aug 25, 2018 </a>
                                  </div><!-- .posted-date -->

                                  <div class="cats-links">
                                      <a href="#">Ball Room New York</a>
                                  </div><!-- .cats-links -->
                              </header><!-- .entry-header -->

                              <div class="entry-content">
                                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                              </div><!-- .entry-content -->

                              <div class="entry-footer">
                                  <a href="#">Read More</a>
                              </div><!-- .entry-footer -->
                          </div><!-- .event-content-wrap -->
                      </div><!-- .event-wrap -->
                  </div><!-- .upcoming-events -->
              </div><!-- .col -->

              <div class="col-12 col-lg-6">
                  <div class="featured-cause">
                      <div class="section-heading">
                          <h2 class="entry-title">Featured Cause</h2>
                      </div><!-- .section-heading -->

                      <div class="cause-wrap d-flex flex-wrap justify-content-between">
                          <figure class="m-0">
                              <img src="assets/images/featured-causes.jpg" alt="">
                          </figure>

                          <div class="cause-content-wrap">
                              <header class="entry-header d-flex flex-wrap align-items-center">
                                  <h3 class="entry-title w-100 m-0"><a href="#">Fundraiser for Kids</a></h3>

                                  <div class="posted-date">
                                      <a href="#">Aug 25, 2018 </a>
                                  </div><!-- .posted-date -->

                                  <div class="cats-links">
                                      <a href="#">Ball Room New York</a>
                                  </div><!-- .cats-links -->
                              </header><!-- .entry-header -->

                              <div class="entry-content">
                                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div><!-- .entry-content -->

                              <div class="entry-footer mt-5">
                                  <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                              </div><!-- .entry-footer -->
                          </div><!-- .cause-content-wrap -->

                          <div class="fund-raised w-100">
                              <div class="featured-fund-raised-bar barfiller">
                                  <div class="tipWrap" style="display: inline;">
                                      <span class="tip" style="left: 366.36px; transition: left 1.5s ease-in-out 0s;">83%</span>
                                  </div><!-- .tipWrap -->

                                  <span class="fill" data-percentage="83" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 408.36px; transition: width 1.5s ease-in-out 0s;"></span>
                              </div><!-- .fund-raised-bar -->

                              <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                  <div class="fund-raised-total mt-4">
                                      Raised: $56 880
                                  </div><!-- .fund-raised-total -->

                                  <div class="fund-raised-goal mt-4">
                                      Goal: $70 000
                                  </div><!-- .fund-raised-goal -->
                              </div><!-- .fund-raised-details -->
                          </div><!-- .fund-raised -->
                      </div><!-- .cause-wrap -->
                  </div><!-- .featured-cause -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .home-page-events -->

  <div class="our-causes">
      <div class="container">
          <div class="row">
              <div class="coL-12">
                  <div class="section-heading">
                      <h2 class="entry-title">Our Causes</h2>
                  </div><!-- .section-heading -->
              </div><!-- .col -->
          </div><!-- .row -->

          <div class="row">
              <div class="col-12">
                  <div class="swiper-container causes-slider swiper-container-horizontal swiper-container-wp8-horizontal">
                      <div class="swiper-wrapper" style="transform: translate3d(-1140px, 0px, 0px); transition-duration: 0ms;">
                          <div class="swiper-slide" style="width: 350px; margin-right: 30px;">
                              <div class="cause-wrap">
                                  <figure class="m-0">
                                      <img src="assets/images/cause-1.jpg" alt="">

                                      <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                          <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                      </div><!-- .figure-overlay -->
                                  </figure>

                                  <div class="cause-content-wrap">
                                      <header class="entry-header d-flex flex-wrap align-items-center">
                                          <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>
                                      </header><!-- .entry-header -->

                                      <div class="entry-content">
                                          <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                      </div><!-- .entry-content -->

                                      <div class="fund-raised w-100">
                                          <div class="fund-raised-bar-1 barfiller">
                                              <div class="tipWrap" style="display: inline;">
                                                  <span class="tip" style="left: 195.38px; transition: left 1.5s ease-in-out 0s;">83%</span>
                                              </div><!-- .tipWrap -->

                                              <span class="fill" data-percentage="83" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 237.38px; transition: width 1.5s ease-in-out 0s;"></span>
                                          </div><!-- .fund-raised-bar -->

                                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                              <div class="fund-raised-total mt-4">
                                                  Raised: $56 880
                                              </div><!-- .fund-raised-total -->

                                              <div class="fund-raised-goal mt-4">
                                                  Goal: $70 000
                                              </div><!-- .fund-raised-goal -->
                                          </div><!-- .fund-raised-details -->
                                      </div><!-- .fund-raised -->
                                  </div><!-- .cause-content-wrap -->
                              </div><!-- .cause-wrap -->
                          </div><!-- .swiper-slide -->

                          <div class="swiper-slide" style="width: 350px; margin-right: 30px;">
                              <div class="cause-wrap">
                                  <figure class="m-0">
                                      <img src="assets/images/cause-2.jpg" alt="">

                                      <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                          <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                      </div><!-- .figure-overlay -->
                                  </figure>

                                  <div class="cause-content-wrap">
                                      <header class="entry-header d-flex flex-wrap align-items-center">
                                          <h3 class="entry-title w-100 m-0"><a href="#">Education for all</a></h3>
                                      </header><!-- .entry-header -->

                                      <div class="entry-content">
                                          <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                      </div><!-- .entry-content -->

                                      <div class="fund-raised w-100">
                                          <div class="fund-raised-bar-2 barfiller">
                                              <div class="tipWrap" style="display: inline;">
                                                  <span class="tip" style="left: 158.2px; transition: left 1.5s ease-in-out 0s;">70%</span>
                                              </div><!-- .tipWrap -->

                                              <span class="fill" data-percentage="70" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 200.2px; transition: width 1.5s ease-in-out 0s;"></span>
                                          </div><!-- .fund-raised-bar -->

                                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                              <div class="fund-raised-total mt-4">
                                                  Raised: $56 880
                                              </div><!-- .fund-raised-total -->

                                              <div class="fund-raised-goal mt-4">
                                                  Goal: $70 000
                                              </div><!-- .fund-raised-goal -->
                                          </div><!-- .fund-raised-details -->
                                      </div><!-- .fund-raised -->
                                  </div><!-- .cause-content-wrap -->
                              </div><!-- .cause-wrap -->
                          </div><!-- .swiper-slide -->

                          <div class="swiper-slide swiper-slide-prev" style="width: 350px; margin-right: 30px;">
                              <div class="cause-wrap">
                                  <figure class="m-0">
                                      <img src="assets/images/cause-3.jpg" alt="">

                                      <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                          <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                      </div><!-- .figure-overlay -->
                                  </figure>

                                  <div class="cause-content-wrap">
                                      <header class="entry-header d-flex flex-wrap align-items-center">
                                          <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>
                                      </header><!-- .entry-header -->

                                      <div class="entry-content">
                                          <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                      </div><!-- .entry-content -->

                                      <div class="fund-raised w-100">
                                          <div class="fund-raised-bar-3 barfiller">
                                              <div class="tipWrap" style="display: inline;">
                                                  <span class="tip" style="left: 195.38px; transition: left 1.5s ease-in-out 0s;">83%</span>
                                              </div><!-- .tipWrap -->

                                              <span class="fill" data-percentage="83" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 237.38px; transition: width 1.5s ease-in-out 0s;"></span>
                                          </div><!-- .fund-raised-bar -->

                                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                              <div class="fund-raised-total mt-4">
                                                  Raised: $56 880
                                              </div><!-- .fund-raised-total -->

                                              <div class="fund-raised-goal mt-4">
                                                  Goal: $70 000
                                              </div><!-- .fund-raised-goal -->
                                          </div><!-- .fund-raised-details -->
                                      </div><!-- .fund-raised -->
                                  </div><!-- .cause-content-wrap -->
                              </div><!-- .cause-wrap -->
                          </div><!-- .swiper-slide -->

                          <div class="swiper-slide swiper-slide-active" style="width: 350px; margin-right: 30px;">
                              <div class="cause-wrap">
                                  <figure class="m-0">
                                      <img src="assets/images/cause-1.jpg" alt="">

                                      <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                          <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                      </div><!-- .figure-overlay -->
                                  </figure>

                                  <div class="cause-content-wrap">
                                      <header class="entry-header d-flex flex-wrap align-items-center">
                                          <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>
                                      </header><!-- .entry-header -->

                                      <div class="entry-content">
                                          <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                      </div><!-- .entry-content -->

                                      <div class="fund-raised w-100">
                                          <div class="fund-raised-bar-4 barfiller">
                                              <div class="tipWrap" style="display: inline;">
                                                  <span class="tip" style="left: 195.38px; transition: left 1.5s ease-in-out 0s;">83%</span>
                                              </div><!-- .tipWrap -->

                                              <span class="fill" data-percentage="83" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 237.38px; transition: width 1.5s ease-in-out 0s;"></span>
                                          </div><!-- .fund-raised-bar -->

                                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                              <div class="fund-raised-total mt-4">
                                                  Raised: $56 880
                                              </div><!-- .fund-raised-total -->

                                              <div class="fund-raised-goal mt-4">
                                                  Goal: $70 000
                                              </div><!-- .fund-raised-goal -->
                                          </div><!-- .fund-raised-details -->
                                      </div><!-- .fund-raised -->
                                  </div><!-- .cause-content-wrap -->
                              </div><!-- .cause-wrap -->
                          </div><!-- .swiper-slide -->

                          <div class="swiper-slide swiper-slide-next" style="width: 350px; margin-right: 30px;">
                              <div class="cause-wrap">
                                  <figure class="m-0">
                                      <img src="assets/images/cause-2.jpg" alt="">

                                      <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                          <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                      </div><!-- .figure-overlay -->
                                  </figure>

                                  <div class="cause-content-wrap">
                                      <header class="entry-header d-flex flex-wrap align-items-center">
                                          <h3 class="entry-title w-100 m-0"><a href="#">Education for all</a></h3>
                                      </header><!-- .entry-header -->

                                      <div class="entry-content">
                                          <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                      </div><!-- .entry-content -->

                                      <div class="fund-raised w-100">
                                          <div class="fund-raised-bar-5 barfiller">
                                              <div class="tipWrap" style="display: inline;">
                                                  <span class="tip" style="left: 158.2px; transition: left 1.5s ease-in-out 0s;">70%</span>
                                              </div><!-- .tipWrap -->

                                              <span class="fill" data-percentage="70" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 200.2px; transition: width 1.5s ease-in-out 0s;"></span>
                                          </div><!-- .fund-raised-bar -->

                                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                              <div class="fund-raised-total mt-4">
                                                  Raised: $56 880
                                              </div><!-- .fund-raised-total -->

                                              <div class="fund-raised-goal mt-4">
                                                  Goal: $70 000
                                              </div><!-- .fund-raised-goal -->
                                          </div><!-- .fund-raised-details -->
                                      </div><!-- .fund-raised -->
                                  </div><!-- .cause-content-wrap -->
                              </div><!-- .cause-wrap -->
                          </div><!-- .swiper-slide -->

                          <div class="swiper-slide" style="width: 350px; margin-right: 30px;">
                              <div class="cause-wrap">
                                  <figure class="m-0">
                                      <img src="assets/images/cause-3.jpg" alt="">

                                      <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                          <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                      </div><!-- .figure-overlay -->
                                  </figure>

                                  <div class="cause-content-wrap">
                                      <header class="entry-header d-flex flex-wrap align-items-center">
                                          <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>
                                      </header><!-- .entry-header -->

                                      <div class="entry-content">
                                          <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                      </div><!-- .entry-content -->

                                      <div class="fund-raised w-100">
                                          <div class="fund-raised-bar-6 barfiller">
                                              <div class="tipWrap" style="display: inline;">
                                                  <span class="tip" style="left: 195.38px; transition: left 1.5s ease-in-out 0s;">83%</span>
                                              </div><!-- .tipWrap -->

                                              <span class="fill" data-percentage="83" style="background: rgb(255, 90, 0) none repeat scroll 0% 0%; width: 237.38px; transition: width 1.5s ease-in-out 0s;"></span>
                                          </div><!-- .fund-raised-bar -->

                                          <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                              <div class="fund-raised-total mt-4">
                                                  Raised: $56 880
                                              </div><!-- .fund-raised-total -->

                                              <div class="fund-raised-goal mt-4">
                                                  Goal: $70 000
                                              </div><!-- .fund-raised-goal -->
                                          </div><!-- .fund-raised-details -->
                                      </div><!-- .fund-raised -->
                                  </div><!-- .cause-content-wrap -->
                              </div><!-- .cause-wrap -->
                          </div><!-- .swiper-slide -->
                      </div><!-- .swiper-wrapper -->

                  </div><!-- .swiper-container -->

                  <!-- Add Arrows -->
                  <div class="swiper-button-next flex justify-content-center align-items-center swiper-button-disabled">
                      <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg></span>
                  </div>

                  <div class="swiper-button-prev flex justify-content-center align-items-center">
                      <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"></path></svg></span>
                  </div>
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .our-causes -->

  <div class="home-page-limestone">
      <div class="container">
          <div class="row align-items-end">
              <div class="coL-12 col-lg-6">
                  <div class="section-heading">
                      <h2 class="entry-title">We love to help all the children that have problems in the world. After 15 years we have many goals achieved.</h2>

                      <p class="mt-5">Dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Lorem ipsum dolor sit amet.</p>
                  </div><!-- .section-heading -->
              </div><!-- .col -->

              <div class="col-12 col-lg-6">
                  <div class="milestones d-flex flex-wrap justify-content-between">
                      <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                          <div class="counter-box">
                              <div class="d-flex justify-content-center align-items-center">
                                  <img src="assets/images/teamwork.png" alt="">
                              </div>

                              <div class="d-flex justify-content-center align-items-baseline">
                                  <div class="start-counter" data-to="120" data-speed="2000">120</div>
                                  <div class="counter-k">K</div>
                              </div>

                              <h3 class="entry-title">Children helped</h3><!-- entry-title -->
                          </div><!-- counter-box -->
                      </div><!-- .col -->

                      <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                          <div class="counter-box">
                              <div class="d-flex justify-content-center align-items-center">
                                  <img src="assets/images/donation.png" alt="">
                              </div>

                              <div class="d-flex justify-content-center align-items-baseline">
                                  <div class="start-counter" data-to="79" data-speed="2000">79</div>
                              </div>

                              <h3 class="entry-title">Water wells</h3><!-- entry-title -->
                          </div><!-- counter-box -->
                      </div><!-- .col -->

                      <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                          <div class="counter-box">
                              <div class="d-flex justify-content-center align-items-center">
                                  <img src="assets/images/dove.png" alt="">
                              </div>

                              <div class="d-flex justify-content-center align-items-baseline">
                                  <div class="start-counter" data-to="253" data-speed="2000">253</div>
                              </div>

                              <h3 class="entry-title">Volunteeres</h3><!-- entry-title -->
                          </div><!-- counter-box -->
                      </div><!-- .col -->
                  </div><!-- .milestones -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .our-causes -->

  <footer class="site-footer">
      <div class="footer-widgets">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-3">
                      <div class="foot-about">assets
                          <h2><a class="foot-logo" href="#"><img src="assets/images/foot-logo.png" alt=""></a></h2>

                          <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                          <ul class="d-flex flex-wrap align-items-center">
                              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                              <li><a href="#"><i class="fa fa-behance"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div><!-- .foot-about -->
                  </div><!-- .col -->

                  <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                      <h2>Useful Links</h2>

                      <ul>
                          <li><a href="#">Privacy Polticy</a></li>
                          <li><a href="#">Become  a Volunteer</a></li>
                          <li><a href="#">Donate</a></li>
                          <li><a href="#">Testimonials</a></li>
                          <li><a href="#">Causes</a></li>
                          <li><a href="#">Portfolio</a></li>
                          <li><a href="#">News</a></li>
                      </ul>
                  </div><!-- .col -->

                  <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                      <div class="foot-latest-news">
                          <h2>Latest News</h2>

                          <ul>
                              <li>
                                  <h3><a href="#">A new cause to help</a></h3>
                                  <div class="posted-date">MArch 12, 2018</div>
                              </li>

                              <li>
                                  <h3><a href="#">We love to help people</a></h3>
                                  <div class="posted-date">MArch 12, 2018</div>
                              </li>

                              <li>
                                  <h3><a href="#">The new ideas for helping</a></h3>
                                  <div class="posted-date">MArch 12, 2018</div>
                              </li>
                          </ul>
                      </div><!-- .foot-latest-news -->
                  </div><!-- .col -->

                  <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                      <div class="foot-contact">
                          <h2>Contact</h2>

                          <ul>
                              <li><i class="fa fa-phone"></i><span>+45 677 8993000 223</span></li>
                              <li><i class="fa fa-envelope"></i><span>office@template.com</span></li>
                              <li><i class="fa fa-map-marker"></i><span>Main Str. no 45-46, b3, 56832, Los Angeles, CA</span></li>
                          </ul>
                      </div><!-- .foot-contact -->

                      <div class="subscribe-form">
                          <form class="d-flex flex-wrap align-items-center">
                              <input type="email" placeholder="Your email">
                              <input type="submit" value="send">
                          </form><!-- .flex -->
                      </div><!-- .search-widget -->
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .footer-widgets -->

      <div class="footer-bar">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script>2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                  </div><!-- .col-12 -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .footer-bar -->
  </footer><!-- .site-footer -->   

  </div>